{% if include.mode != 'month' %}
  {% assign d = include.date | date: "%-d" %}
  {% if page.lang == 'pt' %}
    {{ d }}{% if d == "1" %}<sup>&#186;</sup> de{% else %} de{% endif %} 
  {% else %}
    {{ d }}<sup>{% case d %}
      {% when '1' or '21' or '31' %}st
      {% when '2' or '22' %}nd
      {% when '3' or '23' %}rd
      {% else %}th
    {% endcase %}</sup> of 
  {% endif %}
{% endif %}

{% if page.lang == 'pt' %}
 {% assign m = include.date | date: "%-m" %}
 {% case m %}
    {% when '1' %}Janeiro de
    {% when '2' %}Fevereiro de
    {% when '3' %}Março de
    {% when '4' %}Abril de
    {% when '5' %}Maio de
    {% when '6' %}Junho de
    {% when '7' %}Julho de
    {% when '8' %}Agosto de
    {% when '9' %}Setembro de
    {% when '10' %}Outubro de
    {% when '11' %}Novembro de
    {% when '12' %}Dezembro de
  {% endcase %} 
{% else %}
  {{ include.date | date: "%B"}}
{% endif %} 
{{ include.date | date: "%Y"}}
