            <div class="codetalkauthor-info">
                <div class="row">
                    <section class="codetalkpost-author small-12 columns">
                        
                            <img src="{{site.url}}/images/{{ site.owner.avatar }}" class="codetalkpost-author-avatar" alt="{{ site.owner.name }}'s photo">
                        
                        
                            <span class="author-label">Author</span>
                            <h1>{{ site.owner.name }}</h1>
                        
                        
                            <p><a href="mailto:{{ site.owner.email }}" class="author-website">{{ site.owner.email }}</a> | <a href="mailto:{{ site.owner.site }}" class="author-website">{{ site.owner.site }}</a></p>
                        
                        
                            <p>{{ site.owner.description }}</p>
                        
                    </section>
                </div>
            </div>
