<!DOCTYPE html>
<html>

<head>
{% include head.html %}
</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage">
<header class="codetalksite-head">
    <div class="codetalksite-head-menu">
        <a class="codetalkblog-logo" href="{{ site.url }}/"><img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" /></a>


        <div class="codetalkblog-menu">
    <div class="codetalkmobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="codetalkmenu">
        <li class="codetalkmobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
{% for link in site.links %}
            <li>{% if link.external %}
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% else %}
              {% if link.title == "Articles" %}
                <a class="current-page" href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
              {% else %}
                {% if link.title == page.title %}
                  <a class="current-page" href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                {% else %}
                    
                  <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                {% endif %}
              {% endif %}


            {% endif %} </li>
{% endfor %}
           <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="fa fa-rss"></i> Feed</a></li>
    </ul>
</div>
        <div class="clearfix"></div>
    </div>
    <div class="codetalksite-head-content" >
        <div class="codetalksite-head-bg"></div>

        <h2 class="codetalkblog-description">{{ site.description }}</h2>
    </div>
</header>


<main class="codetalkcontent" role="main">

            {{ content }}
</main>
    {% include footer.html %}

{% include scripts.html %}
</body>
</html>
